<html>

<head>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<meta name='viewport' content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/fa/css/font-awesome.min.css"> 
	<meta charset="UTF-8">
</head>

<body>

	<div class="app-wrap">
	<header class="app-header">
		<a href="" class="button">
	      <i class="icon-backward"></i>
	      Back
	    </a>
	    <h1>Life is so cool</h1>
	    <a href="" class="button">
	      <i class="icon-music"></i>
	    </a>
	</header>

	<section class="sidebar">
		 <h1>Life is so cool</h1>
		 <br>
		<a href="work.html">
			<li class='icon-adjust'><span>吃饭</span></li>
		</a>
		<a href="about.html">
			<li class='icon-asterisk'><span>睡觉</span></li>
		</a>
		<a href="#">
			<li class='icon-ban-circle'><span>唱歌</span></li>
		</a>
		<a href="#">
			<li class='icon-bar-chart'><span>打豆豆</span></li>
		</a>
	</section>
	<div class="content">
<%= contents %>


	</div>
	<div class="app-footer">
		<a href="work.html">
			<li class='icon-adjust'><span>吃饭</span></li>
		</a>
		<a href="#">
			<li class='icon-asterisk'><span>睡觉</span></li>
		</a>
		<a href="#">
			<li class='icon-ban-circle'><span>唱歌</span></li>
		</a>
		<a href="#">
			<li class='icon-bar-chart'><span>打豆豆</span></li>
		</a>

	</div>
  </div>
</body>
</html>